<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <!--CSS Styles-->
  <base href="/">
  <link rel="stylesheet" href="general.css">
  <link rel="stylesheet" href="styles/main-page/header.css">
  <link rel="stylesheet" href="styles/main-page/menu.css">
  <link rel="stylesheet" href="styles/main-page/articles.css">
  <link rel="stylesheet" href="styles/main-page/search-bar.css">
  <link rel="stylesheet" href="styles/main-page/footer.css">
  <link rel="stylesheet" href="styles/articles/analysis/article-1.css">
  <!--Icons-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>CyberAnalyst</title>

</head>
<body class="container">

  {% include 'header.njk' %}
  <main>
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>