<header class="header">
  <nav class="navbar">
    
    <div class="header-left">
      <a class="logo-a" href="#">
        <img class="logo-icon" src="logo (3).png" alt="">
        <h2 class="logo">The Infosec Blog</h2>
      </a>
    </div>

    <div class="header-right-section">


      <button class="btn search-button header-right-section" id="search-toggle-btn">
        <i class="ri-search-line"></i>
      </button>

      <a href="author.html">
        <button class="btn user-icon">
          <i class="fa fa-user-circle"></i>
        </button>
      </a>

    </div>
  </nav>
</header>